<!DOCTYPE html>
<html lang="en">
<head>
	<title>SentAPI</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
		<h1 align=center>SentAPI</h1>
		<form action='/clas' method="post">
			<label for="first_name"><b>Enter the text</b></label>
			<input placeholder="For eg: മോശം സിനിമ " name="Temperature" id="te" type="text" class="validate">
			<button type="submit" >Classify Text</button>
    </form>
		<h3> {{pred}}</h3><br>
</body>
</html>
